body
    font-family: arial
    font-size: 12px
    margin: 0
    padding: 0
.wrap
    background: rgba( #EEE, 0.5 )
.content
    width: 80%
    margin: 0 auto
    background: #FF
.content-left
    width: 50%
    float: left;
    background: #DDD
    border-left: 1px solid #CCC
    border-right: 1px solid #CCC
.content-right
    float: left;
    width: 50%
    border-right: 1px solid #CCC

.bar-progress
    height: 15px
    width: 200px
    background: white
    border-radius: 1px
    overflow: hidden;
    margin: 0 10px
    .progress
        transition: all 0.5s
        width: 10%
        background: blue
        height: 100%

.header
    height: 150px
    .content-left
        text-align: center;
        height: 100%
        padding-top: 25px
        box-sizing: border-box;
        border-bottom: 1px solid #CCC
        .image
            width: 100px
            height: 100px
            display: inline-block;
            vertical-align: top;
        .description
            margin-left: 10px;
            margin-top: 10px;
            display: inline-block;
            .subtitle
                font-weight: bold;
                text-align: left;
                font-size: 20px;
                margin: 0;
                color: blue
            .item
                font-weight: bold
                font-size: 15px
    .content-right
        height: 100%
        padding: 20px
        box-sizing: border-box;
        border-bottom: 1px solid #CCC
        .logo
            width: 50px
            height: 50px
            background: blue
            position: relative;
            float: left;
            .icon
                color: white
                position: absolute;
                font-size: 25px
                left: 17px
                top: 11px
        .description
            float: left
            width: 80%
            margin-left: 10px
            .text
                overflow: hidden;
                height: 80px
            .subtitle
                font-size: 20px;
                margin: 0;
                color: blue
